.data_item {
    margin-bottom: var(--spacing-sm);
}

.data_arrow, .data_arrow_disabled {
    left: var(--data-arrow-offset);
    width: var(--data-arrow-width);
    border-radius: var(--border-radius);
    padding: var(--data-arrow-padding);
    vertical-align: middle;
    transition: background-color var(--transition-med), rotate var(--transition-slow);
}

.data_arrow:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
}

.data_title {
    margin-left: var(--spacing-sm);
    text-decoration: underline;
    padding: 0px var(--spacing-sm);
}

.data_info {
    display: block;
    position: relative;
    left: var(--data-indent);
}

.data_abstract {
    overflow: hidden;
    position: relative;
    max-height: 0;
    transition: max-height var(--transition-slow), opacity var(--transition-slow);
    top: var(--data-abstract-top);
    left: var(--data-indent);
    line-height: 1.2;
    font-size: var(--fs-abstract);
}

.data_abstract p {
    margin-bottom: 0;
}
