.data_item {
    margin-bottom: 10px;
}

.data_arrow, .data_arrow_disabled {
    left: -20px;
    width: 15px;
    border-radius: 8px;
    padding: 8px;
    vertical-align: middle;
    background-color: white;
    transition: background-color 0.2s, rotate 0.3s;
}

.data_arrow:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.data_title {
    margin-left: 10px;
    text-decoration: underline;
    padding: 0px 10px;
}

.data_info {
    display: block;
    position: relative;
    left: 60px;
}

.data_abstract {
    overflow: hidden;
    position: relative;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    top: -10px;
    left: 60px;
    line-height: 1.2;
    font-size: 20px;
}

.data_abstract p {
    margin-bottom: 0;
}
