a {
    color: var(--color-link);
    text-decoration: none;
}

.source {
    border-radius: var(--border-radius);
    transition: background-color var(--tr-fast);
}

.source a {
    color: var(--color-link-source);
}

.source:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
}
