a {
    color: lightcoral;
    text-decoration: none;
}

.source {
    background-color: white;
    transition: background-color 0.1s linear;
}

.source a {
    color: cadetblue;
}

.source:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    cursor: pointer;
}
