body {
    font-family: 'mlmt';
}

#content {
    font-size: 25px;
    margin-left: calc(50% - (1250px/2 + 150px));
    margin-top: 125px;
    width: 1250px;
}

#title {
    position: fixed;
    font-size: 30px;
    right: 10%;
    top: 50px;
}

#title_sep {
    padding: 0px 10px;
}

#information {
    margin-bottom: 20px;
}

.section_title {
    font-size: 27px;
    text-align: right;
}
