html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    margin: 0px;
}

#content {
    font-size: var(--fs-base);
    margin-top: var(--spacing-top);
    margin-left: max(var(--page-margin-min), calc(50% - (var(--content-width) / 2 + var(--nav-offset))));
    width: min(90%, var(--content-width));
}

#information {
    margin-bottom: var(--spacing-md);
}

#bottomSpace{
    height:var(--spacing-bot);
}

.noSelect {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
