#content {
    font-size: 25px;
    margin-left: 15%;
    margin-top: 125px;
    width: 70%;
}

#title {
    font-size: 30px;
    right: 10%;
    position: absolute;
    top: 50px;
}

#title_sep {
    padding: 0px 10px;
}

#information{
    margin-bottom: 20px;
}

.section_title {
    font-size: 30px;
}
