#title {
    font-size: var(--fs-title);
}

#title:hover {
    cursor: pointer;
}

#title_sep {
    padding: 0px var(--spacing-sm);
}

#section_nav {
    position: fixed;
    z-index: 1000;
    padding-right: max(var(--page-margin-min), calc(50% - (var(--content-width) / 2 + var(--nav-offset))));
    text-align: right;
    width: var(--nav-width);
    right: 0px;
    top: var(--spacing-xl);

    background-color: var(--color-nav-bg);
}

#section_nav ol {
    list-style: none;
    display: block;
    user-select: none;
}

#section_nav ol a {
    color: var(--color-nav-link);
    transition: color var(--tr-fast);
}

#section_nav ol a:hover, #section_nav li.active > a {
    color: var(--color-nav-link-active);
}
