.section_content {
    margin-top: var(--spacing-lg);
}

.section_title, .section_button {
    color: var(--color-title);
}

.section_title {
    font-family: var(--font-title);
    font-size: var(--fs-title);
}

.section_button {
    font-size: var(--fs-section-btn);
    padding: 0px var(--spacing-xs);
    opacity: 0;
    border-radius: var(--border-radius);
    transition: opacity var(--transition-med), background-color var(--transition-fast);
}

.section_button:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
}
