.writing_cite, .writing_joint {
    display: block;
    position: relative;
    left: 20px;
}

.writing_abstract {
    position: relative;
    top: -10px;
    left: 20px;
    line-height: 1.2;
    font-size: 20px;
}
