:root {
    --top-space: 8rem;
    --bot-space: 4rem;
}

body {
    background-color: #F2F2F2;
    margin: 0 var(--top-space) 0px var(--top-space);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.top-space {
    width: 100%;
    height: var(--top-space);
    flex-shrink: 0;
}

.bot-space {
    width: 100%;
    height: var(--bot-space);
    flex-shrink: 0;
}

.latex-document {
    width: 100%;
    max-width: 1275px;
    border: none;
    min-height: 80vh;
}

.error-msg {
    color: #666;
    margin-top: 2rem;
}
